#recuadrol {
    background: url("img/img1.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#recuadrol::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #1746a2, transparent);
}
#imagen {
    opacity: 1;
}
.img_fondo {
    opacity: 0.7;
}
body {
    background: white;
    margin: 50 px;
}
.conte{
    width: 300px;
    height: 300px;
    margin: 0 auto 20px;
    border: 2px solid#ddd;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}